h1{color: #491212; font-family: Verdana; font-size: 35px;}
b{color: #8A0000; font-family: Verdana; font-size: 30px;}
p{color: black; font-family: Verdana; font-size: 25px;}
li{color: black; font-family: Verdana; font-size: 20px;}
a:hover{color: red;font-family: Verdana; font-size: 20px; background-color: black;}
blockquote{color: #712A00; font-family: Verdana; font-size: 25px;}
table{margin:0 auto}
body{background-image: url(https://w0.peakpx.com/wallpaper/544/472/HD-wallpaper-color-background-blue.jpg);}